In [1]:
import pandas as pd
import numpy as np

In [2]:
pedalboards = pd.read_csv('data/patches-filtered.csv')
pedalboards.columns = ['id', 'name', 0, 1, 2, 3, 4, 5]

pedalboards.head()

     id        name     0      1      2      3      4      5
0  5299  plexi*dly*  74.0  102.0   55.0  107.0  107.0  107.0
1  5300  HB*Boston3  31.0  102.0   33.0  107.0  107.0  107.0
2  5301  _Clean****  24.0   31.0   28.0  107.0  107.0  107.0
3  5303  _2tone****  72.0   57.0   96.0  107.0  107.0  107.0
4  5304  Numb______  81.0   57.0  100.0  107.0  107.0  107.0

In [3]:
plugins = pd.read_csv('data/plugins-categories.csv', index_col='id')
plugins = plugins.sort_index()

plugins.head()

        name    category
id
0   M-Filter   Filter_EQ
1    TheVibe  Modulation
2    Z-Organ         SFX
3     Slicer  Modulation
4   PhaseDly       Delay

# Simple bag of plugins

In [4]:
data = pd.DataFrame([], index=pedalboards.index, columns=plugins.index)
data = data.fillna(0)

data.head()

id,0,1,2,3,4,5,6,7,8,9,...,107,108,109,110,111,112,113,114,115,116
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
for index, pedalboard in pedalboards[[0, 1, 2, 3, 4, 5]].iterrows():
    for effect in pedalboard:
        if np.isnan(effect):
            continue
        data[effect][index] += 1

data.head()

id,0,1,2,3,4,5,6,7,8,9,...,107,108,109,110,111,112,113,114,115,116
0,0,0,0,0,0,0,0,0,0,0,...,3,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,3,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,3,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,3,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,3,0,0,0,0,0,0,0,0,0

In [6]:
new_index = pd.MultiIndex.from_tuples(list(zip(pedalboards.index.tolist(), pedalboards['id'].tolist())), names=['index', 'id'])
data.index = new_index

data.head()

,id,0,1,2,3,4,5,6,7,8,9,...,107,108,109,110,111,112,113,114,115,116
index,id,,,,,,,,,,,,,,,,,,,,,
0,5299,0,0,0,0,0,0,0,0,0,0,...,3,0,0,0,0,0,0,0,0,0
1,5300,0,0,0,0,0,0,0,0,0,0,...,3,0,0,0,0,0,0,0,0,0
2,5301,0,0,0,0,0,0,0,0,0,0,...,3,0,0,0,0,0,0,0,0,0
3,5303,0,0,0,0,0,0,0,0,0,0,...,3,0,0,0,0,0,0,0,0,0
4,5304,0,0,0,0,0,0,0,0,0,0,...,3,0,0,0,0,0,0,0,0,0

In [7]:
data.to_csv('data/patches-bag-of-words.csv')

## Visualize audio plugins

For data show, replace index for pedalboard name

In [8]:
plugins['Plugin'] = plugins.name
plugins['Category'] = plugins.category

data.columns = [plugins.Category, plugins.Plugin]

data.head()

Category   Filter_EQ Modulation     SFX Modulation    Delay            \
Plugin      M-Filter    TheVibe Z-Organ     Slicer PhaseDly FilterDly
index id
0     5299         0          0       0          0        0         0
1     5300         0          0       0          0        0         0
2     5301         0          0       0          0        0         0
3     5303         0          0       0          0        0         0
4     5304         0          0       0          0        0         0

Category                      Modulation    SFX  ... None Amp Modeling  \
Plugin     PitchDly StereoDly   BitCrush Bomber  ... None    TONE CITY
index id                                         ...
0     5299        0         0          0      0  ...    3            0
1     5300        0         0          0      0  ...    3            0
2     5301        0         0          0      0  ...    3            0
3     5303        0         0          0      0  ...    3            0
4     5304        0         0          0      0  ...    3            0

Category
Plugin     B-BREAKER BGN DRIVE DELUXE-R ALIEN REVO-1 CAR DRIVE MS 1959 VX JMI
index id
0     5299         0         0        0     0      0         0       0      0
1     5300         0         0        0     0      0         0       0      0
2     5301         0         0        0     0      0         0       0      0
3     5303         0         0        0     0      0         0       0      0
4     5304         0         0        0     0      0         0       0      0

[5 rows x 117 columns]

# One hot encoding

The position is considered.

In [9]:
def extract_one_hot_encoding(position):
    data = pd.DataFrame([], index=pedalboards.index, columns=plugins.index)
    data = data.fillna(0)

    for index, pedalboard in pedalboards[[position]].iterrows():
        for effect in pedalboard:
            if np.isnan(effect):
                continue
            data[effect][index] += 1

    return data


bags = [extract_one_hot_encoding(i) for i in range(0, 6)]

In [10]:
full_bag_of_plugins = pd.concat(bags, axis=1)

new_index = pd.MultiIndex.from_tuples(list(zip(pedalboards.index.tolist(), pedalboards['id'].tolist())), names=['index', 'id'])
full_bag_of_plugins.index = new_index

full_bag_of_plugins.to_csv('data/patches-one-hot-encoding.csv')
full_bag_of_plugins.head()

,id,0,1,2,3,4,5,6,7,8,9,...,107,108,109,110,111,112,113,114,115,116
index,id,,,,,,,,,,,,,,,,,,,,,
0,5299,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,5300,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,5301,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,5303,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,5304,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0